{{define "header"}}

    <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color:#0c48a1; font-weight: bold">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-size: 20px;"><b>GoLang Web </b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto" >
                    <li class="nav-item">
                        <a class="nav-link" style="color: white; font-weight: bold" href="/"> Posts</a>
                    </li>
                    
                            <li class="nav-item">
                                <a class="nav-link" style="color: white; font-weight: bold" href="/login"> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: white; font-weight: bold" href="/register"> Register</a>
                            </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button style="border: 1px solid white" class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Hudayberdi Polatow
                            </button>
                            <ul  class="dropdown-menu w-100 rounded-0" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/user">My Profile</a></li>
                                <li><a class="dropdown-item" href="/user/posts">My Posts</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

{{end}}