<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100 bg-dark">
    <h1 class="display-1 fw-bold text-white">Sorry Error</h1>
    <h1 class="display-1 fw-bold text-white"><a href="/" class="btn btn-light">Home</a></h1>
</div>
<script src="/public/assets/bootstrap/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</body>
</html>